docker.enabled = true
docker.runOptions = "--user \$(id -u):\$(id -g) --group-add 100"

dag.overwrite = true
report.overwrite = true
params {
    threads = 1
    store_dir = "Store_dir" 
    out_dir = "output"

    fqFolder = null
    emu_db = null
    emuFolder = null
    combined_tsv = null
    TSEcol = "/home/kaochihhsin/metagenome/nf/16s/temp_config/TSEcol.csv"
    combined_tsv = "/home/kaochihhsin/metagenome/nf/16s/temp_config/emu-combined-species-counts.tsv"

    // ----> Database
    database_set = "SILVA_138_1"
    database_sets = [
        'ncbi_16s_18s': [
            'reference': 'https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-metagenomics/ncbi_16s_18s/ncbi_targeted_loci_16s_18s.fna',
            // database already includes kmer_dist_file
            'database': 'https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-metagenomics/ncbi_16s_18s/ncbi_targeted_loci_kraken2.tar.gz',
            'ref2taxid': 'https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-metagenomics/ncbi_16s_18s/ref2taxid.targloci.tsv',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump_archive/taxdmp_2023-01-01.zip'
        ],
        'SILVA_138_1': [
            'reference': 'https://www.arb-silva.de/fileadmin/silva_databases/release_138.1/Exports/SILVA_138.1_SSURef_NR99_tax_silva.fasta.gz',
            // It uses the taxids from the Silva database, which doesn't match the taxids from NCBI
            // Database create from scratch using kraken2-build command. It automatically downloads the files.
            'database': null,
            'ref2taxid': null,
            'taxonomy': null,
            'emudb_directory': '/home/kaochihhsin/metagenome/nf/emu_db/emuDB_silva_v138.1'
        ]
    ]

    wf {
        stats = true
        container_sha = "sha3208a26f28715e4a67cd4af5b4a29263343d0733"
        common_sha = "sha91452ece4f647f62b32dac3a614635a6f0d7f8b5"
    }
}
process {
    withLabel:wfmetagenomics {
        container = "ontresearch/wf-metagenomics:${params.wf.container_sha}"
    }
    withLabel:AGB {
        container = "ontresearch/wf-metagenomics:${params.wf.container_sha}"
    }
    withLabel:Emu {
        container = "quay.io/biocontainers/emu:3.4.5--hdfd78af_0"
    }
    withLabel:LEfSe {
        container = "biobakery/lefse:1.0.0_dev_9adc3a62460e"
    }
    withLabel:krona {
        container = "biocontainers/krona:v2.7.1_cv1"
    }
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
    }
    withLabel:Rstudio {
        container = "ben_rss:Feb5"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

manifest {
    name            = 'epi2me-labs/wf-metagenomics'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-metagenomics'
    description     = 'Identification of the origin of single reads from both amplicon-targeted and shotgun metagenomics sequencing.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v2.8.0'
}
